.margin_field {
  margin-top: 15px;
}

.phone_field{
  margin-top: 14.5px;
}

.dob {
  padding-top: 15px;
  display: flex;
}

.radio{
 margin-top: 30px;
 margin-left: 15px;
}

.radioFieldError{
  color: rgb(228, 3, 3);
  margin-left: 15px;
  margin-top: 10px;
  font-size: 12px;
}

.fieldError{
  color: rgb(228, 3, 3);
  margin-top: 7px;
  font-size: 12px;
}

