$feature-flags: (grid-columns-16: true);

.cardBox {
    width: 90%;
    box-sizing: border-box;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.30);
    border-radius: 5px;
    border: 0.1px solid #c5c4c4;

    .name {
        font-family: 'Roboto';
        font-style: normal;
        font-size: 32px;
        line-height: 38px;
        text-transform: uppercase;
        color: #034E5E;
        margin:auto;

        span{
            text-transform:none;
            font-weight: bold;
            
        }
    }
}

.alias{
    font-size: 48px;
    color: whitesmoke;
    font-weight: bolder;
    padding: 0;
    margin-top: 15px;
    margin-left: 25px;
}

.align{
    float: right;
}

.patientPhoto {
    background-color: green;
    padding: 5px;
    border-radius:5px;
}

.patientInfo {
    background-color: green;
}

.pm0 {
    margin: 0;
    padding: 0;
}

.padding-left{
    padding-left: 0;
}


.borderBottom{
    border-bottom: 0.5px solid #d6d6d6;
    margin-left: 2px;
    margin-bottom: .6rem;
}

.borderLeft{
    border-left: 0.5px solid #d6d6d6;
}

.heartStyle{
    display: block;
    margin: auto;
}
